/* Details.module.css */

.main {
  display: flex;
  align-items: flex-start;
  background-color: #0c394e;
  padding: 20px;
  box-sizing: border-box;
}

.cheekyText {
  color: #fdb326;
  font-family: 'Nunito', sans-serif;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.details {
  flex: 1;
  padding: 20px;
  background-color: #f4efd2;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
  margin-bottom: 10px;
  font-size: 16px;
  color: #1e1e1e;
}

.image {
  width: 50%; /* Adjust the width of the image as needed */
  height: auto;
  border-radius: 8px;
  margin-right: 20px; /* Add spacing between image and text */
}

