.main {
  display: flex;
  align-items: flex-start;
  background-color: #8894A4;
  padding: 20px;
  box-sizing: border-box;
}

.cheekyText {
  color: #C2554E;
  font-family: 'Nunito', sans-serif;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.details {
  flex: 1;
  padding: 20px;
}

.description {
  margin-bottom: 10px;
  font-size: 16px;
  color: #1e1e1e;
}
.btnWrapper {
  display: flex;
  flex-direction: column; /* Arrange buttons in a column */
  gap: 10px; /* Space between buttons */
}

.image {
  width: 50%; /* Adjust the width of the image as needed */
  height: auto;
  border-radius: 8px;
  margin-right: 20px; /* Add spacing between image and text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btnWrapper .button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1e1e1e;
  border: 2px solid #333;
  width: 200px;
  padding: 20px;
  border: none; 
  border-radius: 36px;
  box-shadow: 0px 4px 1.4px 0px rgba(0, 0, 0, 0.16) inset, 0px -1px 1.4px 1px rgba(255, 255, 255, 0.19) inset;
  }

.btnWrapper .button:hover {
  border-radius: 36px;
  background: #8894A4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16), 0px 0px 1.4px 1px rgba(255, 255, 255, 0.19);
}

.button {
  border: none; 
  border-radius: 36px;
  box-shadow: 0px 4px 1.4px 0px rgba(0, 0, 0, 0.16) inset, 0px -1px 1.4px 1px rgba(255, 255, 255, 0.19) inset;
  }
  
  