.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    flex: 0 0 23%; /* Set the flex basis to 23% to ensure 4 items per row with some spacing */
    margin-bottom: 50px;
}

.rectangle {
    width: 280px;
    height: 280px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}


.button {
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1e1e1e;
    width: 200px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .button:hover {
  
    color: #1e1e1e;
    border: none; 
    background-color: #D6D1CD;
  }
  

