.like-button-container {
  display: flex;
  flex-direction: row; /* Arrange buttons in a column */
  gap: 10px;
}
.like-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1e1e1e;
  border: 2px solid #333;
  /* background: #D6D1CD; */
  width: 200px;
  padding: 20px;
  border-radius: 2px;
}

.like-button.liked {
  background-color: #C2554E;
  color: #D6D1CD;
  border: none; 
}
.like-button.liked:hover {

  border: none; 
  background-color: #D6D1CD;

}

.like-button:hover {
  
  color: #1e1e1e;
  border: none; 
  background-color: #D6D1CD;
}




