.like-button-container {
  display: flex;
  flex-direction: row; /* Arrange buttons in a column */
  gap: 10px;
}
.like-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  padding: 20px;
  border: none; 
  border-radius: 36px;
box-shadow: 0px 4px 1.4px 0px rgba(0, 0, 0, 0.16) inset, 0px -1px 1.4px 1px rgba(255, 255, 255, 0.19) inset;
}

.like-button.liked {
  background-color: #C2554E;
  color: #D6D1CD;
  border: none; 
}
.like-button.liked:hover {

  border: none; 
  background-color: #C2554E;
  color: #1e1e1e;

}

.like-button:hover {
  border-radius: 36px;
  background: #8894A4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16), 0px 0px 1.4px 1px rgba(255, 255, 255, 0.19);
}




