.navbarWrapper {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
 
  
.navbar {
    background-color: #0c394e;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.navBtn {
    text-decoration: none;
    color: #ffffffde;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}