.main {
  background-color: #0c394e;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 834px;
  position: relative;
}

.cheekyText {
  color: #fdb326;
  color: #f4efd2;font-family: 'Poppins', sans-serif;
  font-size: 55px;
  font-weight: 700;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 535px;
}

.p {
  color: #f4efd2;font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  right: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 414px;
}

.rectangle {
  height: 455px;
  justify-content: center;
  object-fit: cover;
  position: absolute;
  top: 186px;
  width: 1307px;
}
