.main {
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 834px;
  position: relative;
}

.cheekyText {
  color: #c2554e;
  font-family: "Nunito", sans-serif;
  font-size: 55px;
  font-weight: 700;
  left: 80px;
  line-height: normal;
  opacity: 0.9;
  position: absolute;
  width: 535px;
}

.p {
  color: #1e1e1e;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  right: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: 414px;
}

.rectangle {
  /* border: 8px solid #DCDCDC; */
  height: 455px;
  justify-content: center;
  object-fit: cover;
  position: absolute;
  top: 180px;
  width: 1307px;
  border-radius: 35px;
  border: 8px solid #d6d1cd;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px -6px 4px 0px rgba(255, 255, 255, 0.25);
}
